<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mahiro_patter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <mahiro_patter.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="defaultLeft" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Z</string>
                        <string>X</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="defaultRight" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>N</string>
                        <string>M</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="isTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isResizeAble" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowSizeX" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="windowSizeY" serializeAs="String">
                <value>360</value>
            </setting>
        </mahiro_patter.Properties.Settings>
    </userSettings>
</configuration>